<?xml version="1.0"?>

<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        defaultTestSuite="unit"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory suffix=".php">includes/vendor</directory>
            <file>includes/providers/AssetsProvider.php</file>
        </exclude>
        <report>
            <html outputDirectory="build/coverage" highLowerBound="100"/>
        </report>
    </coverage>
</phpunit>
